<!DOCTYPE html>
<html>
<head>
  <title>Snippetsbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>

  <% flash.each  do |name,msg|  %>
      <%= content_tag(:div,msg,class: "alert alert-info")%>
  <% end %>

  <%= yield %>


<%= render 'layouts/footer' %>
<script>
    (function($){
        $(function(){

            $('.button-collapse').sideNav();
            $('.parallax').parallax();
            $(".dropdown-button").dropdown({ hover: false });


        }); // end of document ready
    })(jQuery); // end of jQuery name space
</script>
</body>
</html>
